<h1>USER INDEX</h1>


<h3><%= flash[:notice] if flash[:notice] %></h3>
<h3><%= flash[:alert] if flash[:alert] %></h3>
<h3><%= flash[:success] if flash[:success] %></h3>
<h3><%= flash[:done] if flash[:done] %></h3>
<h3><%= flash[:destroyed] if flash[:destroyed] %></h3>

<h2><%= link_to 'New User', home_new_path%></h2>

<% @users.each do |user| %>
	<ul>
		<li><%= user.fname %></li>
		<li><%= user.lname %></li>
		<li><%= user.email %></li>
		<%= link_to 'Edit', user, method: :edit %>
		<%= link_to 'Delete', user, method: :delete, data: { confirm: "You sure?" }%>
	</ul>
<% end %>


